.intro__text {
    font-size: 16px;
    line-height: 1.63;
    font-weight: normal;
    color: #fff;
    margin-top: 32px;
    margin-bottom: 32px;
}

@media screen and (min-width: 1024px) {
    .intro__text {
        max-width: 690px;
    }   
}

@media screen and (max-width: 952px) {
    .intro__text {
        margin-left: 24px;
        margin-right: 24px;
    }   
}

@media screen and (max-width: 320px) {
    .intro__text {
        margin-left: 16px;
        margin-right: 16px;
    }   
}