@import url(../intro/__title/intro__title.css);
@import url(../intro/__subtitle/intro__subtitle.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__list/intro__list.css);

.intro {
    max-width: 984px;
    min-width: 288px;
    width: 100%;
    margin: auto;
    margin-top: 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }   
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin-top: 88px;
        padding-left: 24px;
        padding-right: 24px;
    }   
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 288px;
        margin-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
    }   
}